.bg-details {
    background-image: url('../images/bg-detail.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    padding-top: 70px;
}

.details-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.detail-image {
    background-image: url('../images/4.webp');
    height: 400px;
    width: 30%;
    background-repeat: no-repeat;
    background-size: contain;
}

.detail-text {
    width: 30%;
}
.detail-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-text .like {
    border: 1px solid #a8a8a8;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}


.detail-text .like:hover{
    border: none;
    color: #fff;
    background-color: #FF7A00;
}

.detail-text h3 {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-bottom: 8px;
}

.detail-text .price-last {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #83868c;
    position: relative;
    padding-right: 7px;
}

.detail-text .price {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #FF7A00;
}

.detail-text .price-last::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #979797;
    width: 65px;
    bottom: 10px;
    left: 0;
}

.detail-text .stars {
    margin: 15px 0;
    color: #E2A439;
    font-size: 18px;
}

.detail-text .text{
    font-size: 14px;
    color: #a8a8a8;
    line-height: 28px;
    font-weight: 400;
    border-top: 1px solid #a8a8a8;
    padding-top: 15px;
}

.detail-text .add {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 40px;
    width: 70%;
    display:block ;
    font-size: 14px;
    letter-spacing: .2em;
    background: #ff7a00;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    transition: .3s;
    border: none;
    padding: 0 30px;
}

.detail-text .add:hover {
    background-color: black;
}

.detail-text .buy {
    width: 70%;
    height: 40px;
    font-size: 14px;
    letter-spacing: .2em;
    background: black;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    transition: .3s;
    border: none;
    padding: 0 30px;
}

.detail-text .buy:hover {
    background-color: #FF7A00;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.content-text {
    text-align: center;
    padding: 30px 10px;
    width: 90%;
    border: 1px solid #dadada;
    transition: 0.3s;
    margin-bottom: 30px;
}

.content-text:hover {
    border: 1px solid black;
}

.content-text h5 {
    font-weight: 400;
    color: #000;
    font-size: 18px;
    padding-bottom: 18px;
    margin-bottom: 12px;
    position: relative;
}

.content-text h5::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid black;
    width: 40px;
    bottom: 9px;
    left: 46%;
}

.content-text p {
    color: #979797;
    font-size: 14px;
    line-height: 28px;
}

@media only screen and (max-width: 990px){
    .detail-image{
        width: 45%;
    }
    .detail-text{
        width: 45%;
    }
    .information{
        margin-top: 30px;
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    .detail-image{
        width: 100%;
    }
    .detail-text{
        margin-top: 30px;
        width: 100%;
    }
    .information{
        margin-top: 30px;
        width: 100%;
    }
}