.bg-contact{
    background-image: url('./image/breacrumb.webp');
    width: 100%;
    height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-contact h2{
    font-size: 46px;
    font-weight: 400;
    color: #010101;
}
.contact-container{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-container .map{
    width: 45%;
}
.contact-container .map iframe{
    width: 100%;
}
.contact-container .form{
    width: 45%;
}
.contact-container form{
    display: flex;
    flex-direction: column;
}
.contact-container form input{
    padding-left: 10px;
    height: 50px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid  #ebebeb;
    outline: none;
    margin-bottom: 20px;
}
.contact-container form textarea{
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
}
.contact-container form button{
    margin-top:20px;
    text-transform: uppercase;
    width: 40%;
    height: 45px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}
.contact-container form button:hover{
    background-color: #FF7A00;
    color: #fff;
}

@media only screen and (max-width: 768px){
    .contact-container .map{
        width: 100%;
    }
    .contact-container .form{
        margin-top: 30px;
        width: 100%;
    }
}