*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul li{
    list-style: none;
}
body{
    font-family: "Sofia Sans", sans-serif;
}
 a:link{
    text-decoration: none;
 }
 button {
    cursor: pointer;
 }